
#rez{
    transition: opacity 1s;
}

#button_to_start{
    position: absolute;
    top: 400px;
    left: 45%;
}

#test_filips{
    width: 940px;
    height: 270px;
    border-radius: 20px;
    margin: auto;
    margin-top: 170px;
    padding: 10px;
    border: outset wheat;
}

#button_test_filips_yes{
    position: relative;
    left: 100px;
    height: 55px;
    width: 150px;
    border: 1px solid burlywood;
    background: wheat;
    border-radius: 15px;
    outline: none;
    -webkit-transition: 0.1s;
    font-size: 17px;
    font-family: "Lato", sans-serif;
}
#button_test_filips_yes:hover{
    background:burlywood ;
}

#button_test_filips_no{
    position: relative;
    left: 540px;
    height: 55px;
    width: 150px;
    background: wheat;
    outline: none;
    border: 1px solid burlywood;
    border-radius: 15px;
    -webkit-transition: 0.1s;
    font-size: 17px;
    font-family: "Lato", sans-serif;

}
#button_test_filips_no:hover{
    background: burlywood;
}

#button_filips_div{
    position: absolute;
    top: 370px;
    width: 940px;

}

#filip_number_test{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-variant: small-caps;
    font-size: 25px;
}

#filip_text_test{
    text-align: center;
    font-family: "Lato", sans-serif;
    letter-spacing: -0.3px;
    font-size: 23px;
}

#title_filips, #title_filips2, #title_filips3{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 36px;
}

#block_start_text{
    width: 940px;
    height: 215px;
    border-radius: 20px;
    margin: auto;
    margin-top: 170px;
    border: outset wheat;
}

#start_test_text{
    text-align: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

#button_to_test_filips{
    position: relative;
    left: 350px;
    height: 60px;
    width: 200px;
    border: 1px solid burlywood;
    background: wheat;
    border-radius: 15px;
    outline: none;
    -webkit-transition: 0.1s;
    font-size: 17px;
    font-family: "Lato", sans-serif;
}
#button_to_test_filips:hover{
    background: burlywood;
}

#res1, #res2, #res3, #res4, #res5, #res6, #res7, #res8, #res9{
    font-family: "Lato", sans-serif;
    letter-spacing: -0.3px;
    font-size: 21px;
    cursor: help;
}

#main_result_filips, #anxiety_in_school, #social_fear, #frustration, #fear_self_expression, #fear_situation_to_check,
#fear_not_waiting_social, #low_resistance_stress, #problems_and_fears_with_teachers{
    font-family: "Lato", sans-serif;
    letter-spacing: -0.3px;
    font-size: 20px;
}

#percent_filips {
    position: relative;
    font-size: 25px;
    width: 0px;
    height: 25px;

    left: 422px;
    top: 1px;
}

#filips_progress_bar{
    position: relative;
    height: 25px;
    width: 0px;
    background-color: wheat;
    border-radius: 30px;
    transition: 0.5s;
}

#filips_progress_border{
    position: relative;
    top: 30px;
    left: 40px;
    width: 855px; /* 15 */
    height:25px ;
    border: 2px burlywood solid;
    border-radius: 30px;
}

#main_result_filips_bar, #anxiety_in_school_bar, #social_fear_bar, #frustration_bar,#fear_self_expression_bar,
#fear_situation_to_check_bar,#fear_not_waiting_social_bar,#low_resistance_stress_bar, #problems_and_fears_with_teachers_bar{
    height: 20px;
    width: 0px;
    background-color: lightgreen;
    transition: 1s;
    cursor: help;
}

#hidden_results{
    background-color: white;
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 750px;
    transition: 1s;
    visibility: visible;
    left: 0px;
    top: 50px;
}

#result_button{
    position: relative;
    top: 35%;
    left: 42%;
    height: 75px;
    width: 250px;
    background: wheat;
    outline: none;
    border: 1px solid burlywood;
    border-radius: 15px;
    transition: opacity 1s, 0.1s;
    font-size: 17px;
    font-family: "Lato", sans-serif;
}

#result_button:hover{
    background: burlywood;
}

#table{
    background-color: white;
    position: absolute;
    border-color: wheat;
    width: 1000px;
    height: 700px;
    border-style: outset;
    visibility: visible;
    z-index: 0;
    left: 50%;
    top: 420px;
    margin-right: 50%;
    transform: translate(-50%,-50%);
}

#help_with_results{
    z-index: 0;
    height: 1000px;
    width: 1000px;
    background-color: white;
    position: absolute;
    left:50%;
    top: 1300px;
    margin-right: 50%;
    transform: translate(-50%,-50%);
}

#title_results_filips{
    font-size: 30px;
    font-family: "Lato", sans-serif;
    text-align: center;
}

#help_with_results_1, #help_with_results_2, #help_with_results_3, #help_with_results_4, #help_with_results_5, #help_with_results_6,
#help_with_results_7, #help_with_results_8, #help_with_results_9{
    border: 1px;
    width: 1000px;
    height: 100px;
    border-color: wheat;
    border-style: outset;
}

#text_help_1, #text_help_2, #text_help_3, #text_help_4, #text_help_5, #text_help_6, #text_help_7, #text_help_8, #text_help_9{
    font-size: 18px;
    font-family: "Lato", sans-serif;
}

#help_with_results_bars{
    z-index: 0;
    height: 220px;
    width: 1000px;
    background-color: white;
    position: absolute;
    left:50%;
    top: 1200px;
    margin-right: 50%;
    transform: translate(-50%,-50%);
}

#color_help{
    font-size: 18px;
    border: outset wheat;
    text-align: center;
    font-family: "Lato", sans-serif;
}

#back_to_main{
    z-index: 0;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    height: 80px;
    width: 300px;
    border: 1px solid burlywood;
    background: wheat;
    border-radius: 15px;
    outline: none;
    -webkit-transition: 0.1s;
    font-size: 21px;
    font-family: "Lato", sans-serif;
    top: 2200px;
}

#back_to_main:hover{
    background-color: burlywood;
}

#register_block_1{
    position: absolute;
    left:50%;
    top: 300px;
    margin-right: 50%;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 250px;
    border: 1px;
}

#user_login, #e_mail, #input_Fname,#input_Lname, #password, #repeat_password, #login_log, #password_log{
    position: relative;
    height: 30px;
    width: 250px;
    border-color: burlywood;
    border-radius: 5px;
    outline: none;
    font-family: "Lato", sans-serif;
    font-size: 17px;
}

#input_Fname{
    bottom: 10px;
}
#password_log{
    top: 15px;
}

#user_login{
    top: 10px;
}

#e_mail{
    top: 20px;
}

#password{
    top: 30px;
}

#repeat_password{
    top: 40px;
}

#registration_h1{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 30px;
}

#check_input_register{
    position: absolute;
    left:76%;
    top: 225px;
    margin-right: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    font-family: "Lato", sans-serif;
    height: 200px;
}

#true_login{
    position: absolute;
    top: 80px;
}
#true_mail{
    position: absolute;
    top: 120px;
}
#true_password{
    top: 160px;
    position: absolute;
}
#true_repeat_password{
    position: absolute;
    top: 200px;
}
#true_Lname{
    position: absolute;
    top: 40px;
}
#true_Fname{
    bottom: 1px;
}

#submit_button{

    height: 60px;
    width: 200px;
    border: 1px solid burlywood;
    background: wheat;
    border-radius: 15px;
    outline: none;
    -webkit-transition: 0.1s;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    position: absolute;
    left:50%;
    top: 400px;
    margin-right: 50%;
    transform: translate(-50%,-50%);
}
#submit_button:hover{
    background: burlywood;
}

#submit_button_log{
    height: 60px;
    width: 200px;
    border: 1px solid burlywood;
    background: wheat;
    border-radius: 15px;
    outline: none;
    -webkit-transition: 0.1s;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    position: absolute;
    left:50%;
    margin-right: 50%;
    transform: translate(-50%,-50%);
    top: 300px;
}
#submit_button_log:hover{
    background: burlywood;
}
