{% load static %}
<html>
    <head>
        <link  rel="stylesheet" type="text/css" href="{% static 'subs/other_style.css' %}" /> <!--подключили другой внешний файл css-->
        <script type = 'text/javascript' src = "{% static 'subs/scripts.js' %}"></script>
    </head>

    <body>

            <p id="nice">Это теcт Филлипса!</p>
            <input id="plus_one" type="button" value="+1" onclick=plus_one()>
        <form id="button_to_start">
            <input type="button" value="Начать!" onclick=to_start_filips()>
        </form>
        <input type="button" value="На регистрацию" onclick=to_register_page() >
    {% if not is_authenticated %}
        <p>Залогинился</p>
    {% else %}
        <p>НЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕЕт</p>
    {% endif %}
    </body>
</html>