{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" type="text/css" href="{% static 'subs/other_style.css' %}" />
    <script type = 'text/javascript' src = "{% static 'subs/scripts.js' %}"></script>
    <title>Профиль</title>
</head>
<body>
        <header id="top_bar">
        <section>
        {% if user.is_authenticated  %}
            <section id="top_bar_user_block">
                <section style="display: inline-block; position: relative; right: 4%">
                    <h1 id="FILLIPS">Профиль</h1>
                </section>
                <input type="button" value="Начало" id="top_bar_account" onclick=go_back()>
                <input type="button" value="Тестирование" id="top_bar_testing" onclick=this_is_work()>
                <input type="button" value="Помощь" id="top_bar_help" onclick=this_is_work()>
                <input type="button" value="О разработке" id="top_bar_develop" onclick=this_is_work()>
                <input type="button" value="Выйти" id="top_bar_logout" onclick=logout_user()>
                <section id="control_username">
                    <a id="top_bar_user"> {{ user }} </a>
                </section>
            </section>
                 {% else %}
            <section id="top_bar_anon_block">
                    <input type="button" id="top_bar_login" value="Войти" onclick=to_login_page()>
                    <input type="button" id="top_bar_register" value="Регистрация" onclick=to_register_page() >
            </section>
        {% endif %}
        </section>
    </header>
    <article>

    </article>
</body>
</html>