{% load static %}
<meta charset="UTF-8">
<html lang="en">
<head>
    <script type="text/javascript" src = "{% static 'subs/scripts.js' %}"></script>
    <link  rel="stylesheet" type="text/css" href="{% static 'subs/other_style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static "subs/images/favicon.ico" %}">
    <meta charset="UTF-8">
    <title>Результаты прохождения теста</title>
</head>
<body style="height: 2300px">
     <h1 id="title_filips3">Тест школьной тревожности Филлипса</h1>
     {% if FEAR %}
         <h1>ЫААААААААААААААААААААААААААААААА</h1>
     {% endif %}
     <article>
        <table   border="5"  id="table">

                <tr>
                    <td>
                        <p id="res1" >Основное прохождение: </p>
                    </td>
                    <td>
                        <p id="main_result_filips" ></p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="main_result_filips_bar"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res2" >Общая тревожность в школе: </p>
                    </td>
                    <td>
                        <p id="anxiety_in_school"></p>
                    </td>

                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="anxiety_in_school_bar"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res3" >Переживание социального стресса: </p>
                    </td>
                    <td>
                        <p id="social_fear"></p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="social_fear_bar"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res4" >Фрустрация потребности в достижении успеха: </p>
                    </td>
                    <td>
                        <p id="frustration"></p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="frustration_bar"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res5" >Страх самовыражения: </p>
                    </td>
                    <td>
                        <p id="fear_self_expression"></p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="fear_self_expression_bar"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res6" >Страх ситуации проверки знаний: </p>
                    </td>
                    <td>
                        <p id="fear_situation_to_check"></p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="fear_situation_to_check_bar"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res7" >Страх несоответствовать ожиданиям окружающих: </p>
                    </td>
                    <td>
                        <p id="fear_not_waiting_social"></p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="fear_not_waiting_social_bar"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res8" >Низкая физиологическая сопротивляемость стрессу: </p>
                    </td>
                    <td>
                        <p id="low_resistance_stress"></p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="low_resistance_stress_bar"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res9">Проблемы и страхи в отношениях с учителями: </p>
                    </td>
                    <td style="width: 67px">
                        <p id="problems_and_fears_with_teachers"></p>
                    </td>
                </tr>
                <tr>
                    <td style="height: 25px">
                        <div id="problems_and_fears_with_teachers_bar"></div>
                    </td>
                </tr>

     <section id="hidden_results">

        <input id="result_button" type="button" value="Получить результаты:" onclick=give_results_filips()>

     </section>
        </table>
     </article>
     {% if user.is_authenticated %}
         <article>
            <section id="help_with_results">
                <h2 id="title_results_filips">Анализ результатов</h2>
                <section>
                    <h2 style="text-align: center; top: 1px; position: relative;">Что означает каждый из факторов?</h2>
                    <section id="help_with_results_1">
                        <table border="5" id="help_with_results_1">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">1. Основное прохождение теста:</p>
                                </td>
                                <td>
                                    <p id="text_help_2">Показывает общее прохождение теста</p>
                                </td>
                            </tr>
                        </table>

                        <table border="5" id="help_with_results_2">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">2. Общая тревожность в школе:</p>
                                </td>
                                <td>
                                    <p id="text_help_3">общее эмоциональное состояние , связанное с различными формами его включения в жизнь школы</p>
                                </td>
                            </tr>
                        </table>

                        <table border="5" id="help_with_results_3">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">3. Переживание социального стресса:</p>
                                </td>
                                <td>
                                    <p id="text_help_4">неблагоприятный психический фон, не позволяющий  развивать свои потребности в успехе, достижении высокого результата и т. д.</p>
                                </td>
                            </tr>
                        </table>

                        <table border="5" id="help_with_results_4">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">4. Фрустрация потребности в достижении успеха:</p>
                                </td>
                                <td>
                                    <p id="text_help_5">негативные эмоциональные переживания ситуаций, сопряженных с необходимостью самораскрытия, предъявления себя другим, демонстрации своих возможностей</p>
                                </td>
                            </tr>
                        </table>

                        <table border="5" id="help_with_results_5">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">5. Страх самовыражения:</p>
                                </td>
                                <td>
                                    <p id="text_help_6">негативное отношение и переживание тревоги в ситуациях проверки (особенно - публичной) знаний, достижений, возможностей"</p>
                                </td>
                            </tr>
                        </table>

                        <table border="5" id="help_with_results_6">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">6. Страх ситуации проверки знаний:</p>
                                </td>
                                <td>
                                    <p id="text_help_7">негативное отношение и переживание тревоги в ситуациях проверки (особенно - публичной) знаний, достижений, возможностей</p>
                                </td>
                            </tr>
                        </table>

                        <table border="5" id="help_with_results_7">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">7. Страх несоответствовать ожиданиям окружающих:</p>
                                </td>
                                <td>
                                    <p id="text_help_7">ориентация на значимость других в оценке своих результатов, поступков, и мыслей, тревога по поводу оценок, даваемых окружающим, ожидание негативных оценок</p>
                                </td>
                            </tr>
                        </table>

                        <table border="5" id="help_with_results_8">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">8. Низкая физиологическая сопротивляемость стрессу:</p>
                                </td>
                                <td>
                                    <p id="text_help_8">особенности психофизиологической организации, снижающие приспособляемость  к ситуациям стрессогенного характера, повышающие вероятность неадекватного, деструктивного реагирования на тревожный фактор среды</p>
                                </td>
                            </tr>
                        </table>

                        <table border="5" id="help_with_results_9">
                            <tr>
                                <td style="width: 500px">
                                    <p id="text_help_1">9. Проблемы и страхи в отношениях с учителями:</p>
                                </td>
                                <td>
                                    <p id="text_help_9">общий негативный эмоциональный фон отношений со взрослыми в школе, снижающий успешность обучения </p>
                                </td>
                            </tr>
                        </table>
                    </section>
                </section>
                <section id="help_with_results_bars">
                    <h2 style="text-align: center">Цветовая палитра</h2>
                    <section>
                        <p id="color_help">
                            Показывает процент несовпадений по фактору. Если процент меньше 50, то полоска становится <span style="color: green">зеленым</span>
                            цветом и значит не присутствует никаких проблем с этим фактором. Если же процент равен 50 и более, то полоска
                            автоматически становится <span style="color: #FFD700">жёлтая</span>. Это показывает, что есть незначительные отклонения.
                            75 процентов и более становится <span style="color: orange">оранжевым</span> цветом. Это уже даёт знать, что есть некоторые отклонения
                            и с ним стоит провести профилактические работы. Последняя стадия это от 90 процентов и более, самая неприятная <span style="color: red">красная</span>
                            полоска. Это значит, что есть достаточно весомые трудности и стоит всерьёз уделить этому внимание.
                        </p>
                    </section>
                </section>
            </section>
    {% else %}
    <p id="no_help_result">Для того, чтобы получить подробный анализ каждого фактора зарегистрируйтесь или авторизируйтесь в вашем аккаунте.</p>
    {% endif %}
                <input type="button" value="Назад в начало" id="back_to_main" onclick="back_to_main()">

        </article>

</body>
</html>