{% load static %}
<html lang="en">
<head>
    <script type="text/javascript" src = "{% static 'subs/scripts.js' %}"></script>
    <link  rel="stylesheet" type="text/css" href="{% static 'subs/other_style.css' %}" />
    <meta charset="UTF-8">
    <title>Результаты прохождения теста</title>
</head>
<body>
     <h1 id="title_filips3">Тест школьной тревожности Филлипса</h1>


        <table   border="5" style=" border-color: wheat; width: 1000px; height: 600px; border-style:outset; margin: auto">

                <tr>
                    <td>
                        <p id="res1">Основное прохождение: </p>
                    </td>
                    <td>
                        <p id="main_result_filips"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res2">Общая тревожность в школе: </p>
                    </td>
                    <td>
                        <p id="anxiety_in_school"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res3">Переживание социального стресса: </p>
                    </td>
                    <td>
                        <p id="social_fear"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res4">Фрустрация потребности в достижении успеха: </p>
                    </td>
                    <td>
                        <p id="frustration"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res5">Страх самовыражения: </p>
                    </td>
                    <td>
                        <p id="fear_self_expression"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res6">Страх ситуации проверки знаний: </p>
                    </td>
                    <td>
                        <p id="fear_situation_to_check"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res7">Страх несоответствовать ожиданиям окружающих: </p>
                    </td>
                    <td>
                        <p id="fear_not_waiting_social"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res8">Низкая физиологическая сопротивляемость стрессу: </p>
                    </td>
                    <td>
                        <p id="low_resistance_stress"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="res9">Проблемы и страхи в отношениях с учителями: </p>
                    </td>
                    <td>
                        <p id="problems_and_fears_with_teachers"></p>
                    </td>
                </tr>

        </table>
   <form>
        <input type="button" value="Получить результаты:" onclick=give_results_filips()>
   </form>

</body>
</html>