{% load static %}
<html lang="en">
<head>
    <script type="text/javascript" src = "{% static 'subs/scripts.js' %}"></script>
    <meta charset="UTF-8">
    <title>Результаты прохождения теста</title>
</head>
<body>
    <ul>
        <li id="main_result_filips"></li>
        <li id="anxiety_in_school"></li>
        <li id="social_fear"></li>
        <li id="frustration"></li>
        <li id="fear_self_expressions"></li>
        <li id="fear_situation_to_check"></li>
        <li id="fear_not_waiting_social"></li>
        <li id="low_resistance_stress"></li>
        <li id="problems_and_fears_with_teachers"></li>
    </ul>
    <table id="rezults_table_filips">
        <tbody>
            <tr>
                <td></td>
            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
        </tbody>
    </table>
<form>
    <input type="button" value="Получить результаты:" onclick=give_results_filips()>
</form>
</body>
</html>