{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link  rel="stylesheet" type="text/css" href="{% static 'subs/other_style.css' %}" />
        <script type="text/javascript" src="{% static 'subs/scripts.js' %}"></script>
        <title>Это первый вопрос</title>
        <link rel="shortcut icon" type="image/png" href="{% static "subs/images/favicon.ico" %}">
    </head>
    <body>
        <header id="top_bar">
        <section>
        {% if user.is_authenticated  %}
            <section id="top_bar_user_block">
                <section style="display: inline-block; position: relative; right: 4%">
                    <h1 id="FILLIPS">Филлипс</h1>
                </section>
                <input type="button" value="Профиль" id="top_bar_account" onclick=go_to_profile()>
                <input type="button" value="Начало" id="top_bar_testing" onclick=back_to_main()>
                <input type="button" value="Помощь" id="top_bar_help" onclick=to_help()>
                <input type="button" value="О разработке" id="top_bar_develop" onclick=to_develop()>
                <input type="button" value="Выйти" id="top_bar_logout" onclick=logout_user()>
                <section id="control_username">
                    <a id="top_bar_user"> {{ user }} </a>
                </section>
            </section>
                 {% else %}
            <section id="top_bar_anon_block">
                    <input type="button" id="top_bar_login" value="Войти" onclick=to_login_page()>
                    <input type="button" id="top_bar_register" value="Регистрация" onclick=to_register_page() >
            </section>
        {% endif %}
        </section>
    </header>
            <h1 id="title_filips2">Тест школьной тревожности Филлипса</h1>

            <article id="block_start_text">
                <p id="start_test_text">
                    Приветствую вас! Сейчас вам будет предложен опросник, который состоит из вопросов о том, как вы чувствуете себя в школе.
                    Старайтесь отвечать искренне и правдиво, Здесь нет правильных или неправильных, хороших или плохих ответов.
                    Отвечая на вопрос, выбирайте <b>Да</b>, если согласны с утверждением и <b>Нет</b>, если вы не согласны с данным утверждением и оно не про вас.
                    (Вы не получите полной расшифровки каждого фактора, если не авторизовались в аккаунте)
                </p>
                <input id="button_to_test_filips" type="button" value="Начать тестирование" onclick=to_test_filips()>
            </article>
    </body>
</html>